@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var order = ViewData["order"] as E_Commerce___DEPI.Models.Order; // Retrieve from ViewData
}

@{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="col-8">
        <form asp-action="ChangeOrderStatus" asp-controller="Order" method="post" class="d-flex align-items-center">
            <input type="hidden" name="orderId" value="@order.Id" />
            <input type="hidden" name="isList" value="@false" />
            <!-- Align Select and Button Side by Side -->
            <select id="orderStateSelect" class="form-select me-2 w-50" name="OrderState" style="width: 150px; color:#827589; border: 1px solid #ccc; border-radius: 0.25rem;">
                <option value="" disabled selected>Change Status</option>
                @foreach (OrderState state in Enum.GetValues(typeof(OrderState)))
                {
                    <option value="@((int)state)">@state</option>
                }
            </select>

            <button type="submit" class="btn btn-outline-success btn-sm" style="width: 200px;">Update Status</button>
        </form>
    </div>
}
