@{
	ViewData["Title"] = "Details - Product";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Product

<h2 class="alert text-center">Product Details</h2>

<div class="container">
	<div class="row align-items-center">
		<form class="ms-4 w-auto">
			<div class="mb-3 ms-3">
				<label asp-for="Id"></label>
				<input type="text" asp-for="Id" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="Name"></label>
				<input type="text" asp-for="Name" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="Price"></label>
				<input type="text" asp-for="Price" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="Description"></label>
				<input type="text" asp-for="Description" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="img1"></label>
				<input type="text" asp-for="img1" class="form-control" readonly>
			</div>

			@if (Model.img2 != null)
			{
				<div class="mb-3 ms-3">
					<label asp-for="img2"></label>
					<input type="text" asp-for="img2" class="form-control" readonly>
				</div>
			}

			@if (Model.img3 != null)
			{
				<div class="mb-3 ms-3">
					<label asp-for="img3"></label>
					<input type="text" asp-for="img3" class="form-control" readonly>
				</div>
			}

			@if (Model.img4 != null)
			{
				<div class="mb-3 ms-3">
					<label asp-for="img4"></label>
					<input type="text" asp-for="img4" class="form-control" readonly>
				</div>
			}

			@if (Model.img5 != null)
			{
				<div class="mb-3 ms-3">
					<label asp-for="img5"></label>
					<input type="text" asp-for="img5" class="form-control" readonly>
				</div>
			}

			@if (Model.img6 != null)
			{
				<div class="mb-3 ms-3">
					<label asp-for="img6"></label>
					<input type="text" asp-for="img6" class="form-control" readonly>
				</div>
			}

			<div class="mb-3 ms-3">
				<label asp-for="Rate"></label>
				<input type="text" asp-for="Rate" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="Category"></label>
				<input type="text" asp-for="Category.Name" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="Width"></label>
				<input type="text" asp-for="Width" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="Height"></label>
				<input type="text" asp-for="Height" class="form-control" readonly>
			</div>

			<div class="mb-3 ms-3">
				<label asp-for="Depth"></label>
				<input type="text" asp-for="Depth" class="form-control" readonly>
			</div>

			<div class="mb-3">
				<a class="btn btn-danger ms-2" style="background-color: #dc3545; border-color: #dc3545;" asp-action="PostDelete" asp-route-id="@Model.Id">Delete</a>
				<a class="btn btn-danger ms-2" asp-action="Index">Back</a>
			</div>

		</form>
	</div>
</div>